/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/bower_components/*
/storage/*.key
/public/adminbackend
/public/assets
/public/coverage
/public/vendor
/tests/coverage
/config/sweetalert.php
/resources/views/vendor
/public/frontend
/public/images/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
